{plugins, [
  {'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.5.0"}}}
]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{project_plugins, [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.15.1"}}}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["src", "test"]}]},
    {deps, [
      {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.9.0"}}},
      elli
    ]}
  ]}
]}.

{lodox, [
  {apps, [
    {elli_xpblfe, [
      {'source-uri',
       "https://github.com/elli-lib/elli_xpblfe"
       "/blob/master/{filepath}#L{line}"}
    ]}
  ]}
]}.
